{% block content %}

<header class="clearfix">
  <section id="about" class="noise" data-speed="4" data-type="background" >

  </section>
</header>

<section class="contentnopad">
  <div class="contentholder40" style="background: #f8f6f5; ">
    <div class="row">
      <div class="twelve columns">
        <h1 class="mediumh11 animated fadeIn Big">Freelance Designer & Front End Developer. Husband to <a href="http://www.glamlifeofahousewife.com" title="head this way to see my wife's blog">Emma</a>, father to  a rather fluffy Pomeranian called <a href="http://www.pomsnotbombs.co.uk" title="see my little pomeranian this way">Ralph</a>.</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="contentholder60">
    <div class="row">
      <div class="twelve columns">
         <p class="intro">My experience includes specialising in <strong>Front-end web design</strong>, <strong>ecommerce</strong> & <strong>interface design</strong> plus the occasional <strong>app design</strong>, working for agencies, startups, and huge corporations.</p>
         <p class="intro">I mainly work from my well equipped office. When I’m not my office I’m usually on-site with clients or agencies around Yorkshire, Midlands or even America!</p>
         <p class="intro">You’ll usually find me dabbling in some <strong>Photoshop</strong>, hard-coding <strong>HTML5</strong> responsive websites in Sublime Text like I’m a man obsessed, making magical things happen with <strong>CSS3</strong> or chasing my little Ralph around the garden with my camera!</p>
         <p class="intro">Hire me! <a href="#" data-reveal-id="myModal" title="Available to design the heck out of anything you can dream of, so let me know!">I'm available. </a>  </p>  
      
        </div>
      
      </div>
    </div>
</section>

<style>
.col-state {
background-size: 350px 350px; min-height: 350px; }
.col-la {
background-image: url('http://kyleledbetter.com/assets/themes/twitter/images/states/la.png');
}
.col-tx {
background-image: url('http://kyleledbetter.com/assets/themes/twitter/images/states/tx.png');
}
.col-ca {
background-image: url('http://kyleledbetter.com/assets/themes/twitter/images/states/ca.png');  
}
.col-state { background-repeat: no-repeat; background-position: 50% 50%; padding-top: 10px;
padding-bottom: 10px; }
.col-state p { margin-top: 9%; }
.text-xxl { font-size: 20px; }

</style>

<section class="lightgraybgstyle">
  
<div class="row">
          <div class="contentholder60">
          <p class="intro"><strong>Specialties:</strong> Design (Responsive), User Interface / Experience Design, Front-end Development (Html(5), css(3), jQuery), IOS, Android (Mobile/Tablet Design)</p>
          <p class="intro"><strong>Skills:</strong> Colour Theory, Typography, Layout Principles (harmony, balance, contrast, and emphasis), Communications theory</p>
          <p class="intro"><strong>Additional:</strong> Wireframe, Mockups, Web Standards, Branding, Email Template Design & Layout, Leadership of Projects Ensuring Quality Control</p>
          </div>
</div>
</section>
<section  class="noise"  style="background: #39373a; display: none;">
<div class="row text-left push-top-lg push-bottom-lg">
<div class="contentinternalpadeven">
          <div class="four columns col-state col-la">
            <p class="text-xxl white">Born in Lafayette and raised in Baton Rouge where I attended LSU and graduated from ULL in 3D animation. I visit New Orleans as much as possible and am a Tiger fan. I will always choose Cajun food over Creole.</p>
          </div>
          <div class="four columns col-state col-ca">
            <p class="text-xxl white">I moved to Calfiornia in 2010 with no job and started a web design firm. I met my lovely wife one year later and we’ve grown our businesses and lives together in ATX. We now live in the area of “Dirty Six” in downtown. I've become a BBQ and taco snob.</p>
          </div>
          <div class="four columns col-state col-ca">
            <p class="text-xxl white">I first travelled to Cali in 2010 for a Joomla convention. A year and half later I was hired by eBay to head up the UX for a massive analytics portal. After that I moved on to a Sears analytics team also in CA. Something tells me I’ll be back...</p>
          </div>
          <div class="height5"></div>
        </div>
        </div>
        </section>

<section style="background: #f2f2f2; display: none;">
<div class="row">
          <aside id="text-2" class="widget widget_text" style="">
            <div class="textwidget">
              <div id="social" class="ss-icon">
                <a id="twitter" href="http://twitter.com/mikeycattell"><img src="{{"twitterabout_icon.png" | asset_url }}" alt="" /></a>
                <a id="linkedin" href="http://uk.linkedin.com/pub/michael-cattell/18/919/6a/"> <img src="{{"linkedinabout_icon.png" | asset_url }}" alt="" /></a>
                <a id="instagram" href="http://instagram.com/mikeycattell"><img src="{{"googleplus_icon.png" | asset_url }}" alt="" /></a>
                <a id="dribbble" href="www.behance.net/mikeycattell‎"><img src="{{"behance_icon.png" | asset_url }}" alt="" /></a>
                <a id="youtube" href="skype:mikeycattell?userinfo"> <img src="{{"skype_icon.png" | asset_url }}" alt="" /></a>
                <a id="mail" href="http://www.lastfm.com/mikeycattell"><img src="{{"lastfmabout_icon.png" | asset_url }}" alt="" /></a>
              </div>
            </div>
          </aside>
</div>
</section>

{% include "testimonials" %} 

<section>
  <div class="contentholder60" style="background: #E8E7E2; display: none;">
    <div class="row">
      <div class="twelve columns">
          <h2 class="">From the travel blog (when its built)</h2>
          <p class="intro darktxt">I love to travel, so quite often, my wife and I take a week off, grab our walking shoes and get lost in a city of our liking. Here is where you can see the pictures and maybe a rambling about our experiences!</p>
          <br><br>
          <div class="box">
            <a href=""><img src="http://zinio-prod.s3.amazonaws.com/assets/0000/0101/lichen/7379b9781f1a0ff1d6762c8d9f27f2ac.jpg">
            <div class="holdingtext">San Fransciso</div></a>
          </div>
          <div class="box">
            <a href=""><img src="http://zinio-prod.s3.amazonaws.com/assets/0000/0101/lichen/7379b9781f1a0ff1d6762c8d9f27f2ac.jpg">
            <div class="holdingtext">Washington DC</div></a>
          </div>
          <div class="box">
            <a href=""><img src="http://zinio-prod.s3.amazonaws.com/assets/0000/0101/lichen/7379b9781f1a0ff1d6762c8d9f27f2ac.jpg">
            <div class="holdingtext"> New York City</div></a>
          </div>
          <div class="box">
            <a href=""><img src="http://zinio-prod.s3.amazonaws.com/assets/0000/0101/lichen/7379b9781f1a0ff1d6762c8d9f27f2ac.jpg">
            <div class="holdingtext">Egypt</div></a>
          </div>                  

    </div>
  </div>
</section>

<style>
.holdingtext { text-align: center; top: 40%; position: absolute; color: #fff; font-size: 60px; width: 100%; letter-spacing: 0.07em; font-weight: 300; }</style>
<div id="myModal" class="reveal-modal" data-reveal>

 <section>
       <div class="row">
          <div class="twelve columns">
            <h1 class="title animated fadeIn">Let's talk</h1>
            <h2 class="standardh2 animated fadeInDown">I am currently: <span class="green"><strong>Available</strong>.</h2>
            <p class="intro">If you would like to work with me on a project in the future be it design, podcasting or writing then I’d love to hear from you, all you need to do is fill in this handy form below!</p>
          </div>
        </div>
 </section>

    
<!-- Contact Form -->
<section>
  <div class="row">
    
    <div class="twelve columns contact-form">
       <form action="contact.php" method="post">
           <p class="contact-name controls">
              <input id="name" type="text" placeholder="Name" value="" name="mc_name" />
            </p>
            <p class="contact-email controls">
              <input id="email" name="mc_email" type="email" placeholder="Email address">
            </p>
            <p class="contact-message controls">
              <textarea id="message" name="mc_message" placeholder="Your Message" rows="10" cols="40"></textarea>
            </p>
            <p class="contact-submit controls">
            <button id="contact-submit" type="submit" value="Send" class="bigblue button">Send</button>
            </p>
        </form>
    </div>
  </div>
</section> 
  <a class="close-reveal-modal">&#215;</a>
</div> 
{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}