{% block content %}
<header class="clearfix">
  <section id="about">
    <div class="row">
      <div class="headerholderabout">
      <hgroup>
        <h1 class="mainh111 animated fadeIn Big">Eat, Design, Sleep</h1>
        <h2 class="standardh22 animated fadeInDown">Repeat</h2>
       </hgroup>
      </div>
    </div>
  </section>
</header>

<section>
  <div class="contentinternalpadeven">
    <div class="row">

      <div class="twelve columns">
        <p class="intro">Hi there, I am Michael, a freelance digital designer and front-end developer working across Yorkshire and America. Mostly working with Agencies as well as Start ups and Small Businesses


        Being a User Interface Designer, means I can design a website to meet your needs and exceed them, coupled with the ability as a Front-end Developer allows me to be able to not only design, but code your website to work on all devices, ensuring they work correctly and get you results!</p>
        <p class="intro">You will usually find me with Photoshop or Fireworks open, coding HTML5 (responsive) websites or tearing up stylesheets with CSS3/SASS.</p>
        <p class="intro">At current my work availability is: <a class="animated shake" href="contact" title="Available to design the heck out of anything you can dream of, so let me know!">I'm all yours!</a>
      </div>

    </div>
  </div>
</section

<section class="content">
  <div class="row">

    <div class="four columns">
      <h3 class="standardh3">History</h3>
      <p>I have been in this game for 8 years, from working with digital agencies (sometimes remotely to "hot desking") in Yorkshire, to being Senior designer based in South California <i>(it's true, the sun does shine more here!)</i>.</p>
    </div>

    <div class="four columns">
      <h3 class="standardh3">Methods</h3>
      <p>I am an incredibly passionate designer; skilled in colour theory, typography, and layout principles (harmony, balance, contrast, and emphasis) – basically this means, I will get the colour of your branding right, and put your company’s message across correctly and very professionally – consequently making customers love you and buy/read/click your products!</p>
    </div>

    <div class="four columns end">
      <div class="content510 techincals greenbackground white">
        <h3 class="standardh3 white">Skills</h3>
        <ul>
          <li>Standards-compliant, semantic <strong>HTML5</strong></li>
          <li>Well-documented, well-organized <strong>CSS3</strong></li>
          <li>Accessibility fundamentals</li>
          <li>Cross-browser compatibility</li>
          <li>Grids, layout, typography, colour theory</li>
          <li><strong>Wordpress / Tumblr</strong> theme builds</li>
          <li>Image editing and graphic design</li>
          <li>User of SVN and GIT</li>
          <li><a href="http://www.last.fm/user/mikey_cattell" title="listing my latest and mostly embarrassing tunes listened too"><strong>Jukebox master</strong></a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="height20"></div>
</section>

<section class="content">
  <div class="lightgraybgstyle contentinternalpadeven">
    <div class="row">

      <div class="six columns">
        <span class="testimonial">"Mikey is a talented and expert graphic designer who has the skills and knowledge to not only produce wonderful works but also recommend better solutions to enhance the project if needed. Always generous with his time, talent, and humor."</span>
        <p class="testimonialname">Christine Le</p>
        <p class="testimonialtitle">Project Manager of Marketing Campaigns</p>
      </div>

      <div class="six columns">
        <span class="testimonial">"Michael was always willing to offer his assistance and had an excellent rapport with all constituents served in the office including clients, employers and other professional organisations.<br>
        He would be an asset to any employer and I highly recommend him for any employment. He will be a valuable asset for any organization."</span>
        <p class="testimonialname">John Bottomly </p>
        <p class="testimonialtitle">Business Manager, Yorkshire Post</p>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="contentnopadno darkishgraybgstyle contentinternalpadeven">
    <div class="row">
      <div class="twelve columns">

        <h3 class="standardh3">Albums I love this month:</h3>
        <ul class="block-grid four-up booksiread">
          <li><a href="http://www.rdio.com/artist/Vampire_Weekend/album/Modern_Vampires_of_the_City/" title="Vampire Weekend - Modern Vampires of the City" target="_blank">
            {{ "vampireweekend.jpg" | asset_url | image_tag }}<img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
            <h4>Vampire Weekend</h4>
            <p><small>Modern Vampire of the City</small></p>
          </li>
          <li><a href="http://www.rdio.com/artist/The_Weeknd/album/Trilogy/" title="The Weeknd - Trilogy" target="_blank">
            {{ "theweeknd.jpg" | asset_url | image_tag }}<img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
            <h4>The Weeknd</h4>
            <p><small>Trilogy</small></p>
          </li>
          <li><a href="http://www.rdio.com/artist/Incubus/album/Morning_View_1/" title="Incubus - Morning View" target="_blank">
            {{ "incubus.jpg" | asset_url | image_tag }}<img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
            <h4>Incubus</h4>
            <p><small>Morning View</small></p>
          </li>
          <li><a href="http://www.rdio.com/artist/Panic!_At_The_Disco/album/Pretty._Odd./" title="Panic! At The Disco - Pretty. Odd." target="_blank">
            {{ "panicatthedisco.jpg" | asset_url | image_tag }}<img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
            <h4>Panic! At The Disco</h4>
            <p><small>Pretty. Odd.</small></p>
          </li>
        </ul>
        <br>
        <h3 class="standardh3">Books I have read and enjoyed:</h3>
        <ul class="block-grid four-up booksiread">
          <li><a href="http://www.amazon.com/1984-60th-Anniversary-Edition-George-Orwell/dp/0452262933/ref=sr_1_1?ie=UTF8&qid=1377376853&sr=8-1&keywords=1984" title="1984" target="_blank">
            {{ "1984.jpg" | asset_url | image_tag }}<img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
            <h4>Nineteen Eighty-Four</h4>
            <p><small>George Orwell</small></p>
          </li>
          <li><a href="http://www.amazon.com/Design-Is-Job-Mike-Monteiro/dp/1937557049/ref=sr_1_1?ie=UTF8&qid=1377381457&sr=8-1&keywords=design+of+a+job" title="design is a job" target="_blank">
            {{ "designisajob.jpg" | asset_url | image_tag }}<img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
            <h4>Design is a job</h4>
            <p><small>Mike Monterio</small></p>
          </li>
          <li><a href="http://www.amazon.com/The-Catcher-Rye-J-D-Salinger/dp/0316769487/ref=sr_1_1?ie=UTF8&qid=1377381551&sr=8-1&keywords=the+catcher+in+the+rye" title="the catcher in the rye" target="_blank">
            {{ "catcherinrye.jpg" | asset_url | image_tag }}<img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
            <h4>The Catcher in the Rye</h4>
            <p><small>J. D. Salinger</small></p>
          </li>
          <li><a href="http://www.amazon.com/Hardboiled-Web-Design-Andy-Clarke/dp/1907828001/ref=sr_1_1?ie=UTF8&qid=1377381921&sr=8-1&keywords=hardboiled+web+design" title="Hardboiled Web Design" target="_blank">
            {{ "hardboiled.jpg" | asset_url | image_tag }}<img src="" width="1" height="1" border="0" alt="" style="border:none!important;margin:0!important"/></a>
            <h4>Hardboiled Web Design</h4>
            <p><small>Andy Clarke</small></p>
          </li>
        </ul>     

      </div>
    </div>
  </div>
</section>

{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}