{% block content %}

<header class="hide-for-small">
  <section>
    <div style="position: relative;">
      {{ "home1.jpg" | asset_url | image_tag }}
    </div>
    <div class="row">
      <h1 class="mainh1 animated fadeInLeftBig hide-for-small hide-for-medium">Coffee drinker, Creative thinker<br>& Code tinker</h1>
      <h1 class="mediumh1 animated fadeInLeftBig show-for-medium">Coffee drinker, Creative thinker<br>& Code tinker</h1>
    </div>
  </section>      
</header>

<header class="show-for-small">
  {{ "home.jpg" | asset_url | image_tag }}
</header>

<section class="contentnobg">
  <div class="row">    
    <div class="eight columns">
      <div class="show-for-small">
        <h1 class="title animated fadeIn">Coffee drinker, Creative thinker<br>& Code tinker</h1>
        <a class="bigred button animated swing" href="contact" title="Got work and need a designer/coder? Get in touch!">Available for work!</a>
      </div>

      <div class="hide-for-small">
        <a class="bigredhome button animate bounce" href="contact" title="Got work and need a designer/coder? Get in touch!">Available for work!</a>
      </div>
      <h2>Meet me</h2>
      <p class="intro"> Well hello there, I’m Michael (often known as Mikey), for those of you that I haven’t met yet, I’m a friendly <del>and often funny</del> User Interface Designer and Front-end Developer from England, currently living in California, America.</p>
      <!--<p class="intro">I am an experienced designer with a love to travel, I can happily go where I'm needed to help people build their products, this adaptability allows me to work with start ups, small to big agencies on a freelance basis based in UK and America, to assist in making the most of their web presence.</p>-->
      <p class="intro">As of November 2013, I will be joining the world of freelance design and build, focusing on designing and developing experiences, so feel free to <a href="contact" title="get in touch for me to design some magic">get in touch</a> to discuss your plans and get excited!</p>
    </div>


        <ul class="four columns">
          <li>
            <a  class="box" href="about" title="Want to know more about me? Click here"> {{ "workexample_4.jpg" | asset_url | image_tag }}<p class="plus">Designer<br>Front-end Developer<br>Music Expert<br><span class="darktxt">Funny Man</span></p></a>
          </li>
        </ul>      
    

  </div>
</section>


<section class="content">
  <div class="lightgraybgstyle contentinternalpadeven">
    <!-- Thumbnails -->
    <div class="row">
      <div class="eight columns">
        <h3 class="standardh3">My latest work</h3>
      </div>
      <div class="four columns end">
      <a href="work" title="see all my work!" class="bigblue button">See all my work</a>
      </div>       
       <div class="height10"></div>
    </div>

    <div class="row">
        <div class="twelve columns">
          <ul class="block-grid three-up showcase-items">
            <li>
                <div class="box"><a href="pomsnotbombs" title="view the case study for Poms not Bombs">{{ "pomsnotbombs_nail.jpg" | asset_url | image_tag }}
                <p class="plus">Poms not Bombs<br><span class="darktxt">Design, Build, Feeder, Owner</span></p></a>
                </div>
            </li>
            <li>
              <div class="box"> <a href="argos" title="view the case study for Argos-Spain">{{ "argos_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Argos<br><span class="darktxt">Build</span></p></a>
              </div>
            </li>
            <li>
              <div class="box"> <a href="smallpeeps" title="view the case study for Premier Food Safety">{{ "smallpeeps_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Small Peeps<br><span class="darktxt">Design, Build</span></p></a>
              </div>
            </li>
          </ul>    
        </div>
    </div>
  </div>
</section>

    
{% include "writings" %} 
{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}