{% layout "alternative" %}
{% block content %}
<section class="contentnobg">
  <div class="contentinternalpadeven">
    <!-- Thumbnails -->
    <div class="row">
      <div class="eight columns">
        <h1 class="title">My Work</h1>
      </div>
      <div class="four columns">
        <div id="purchaseLink" class="purchase hide-for-small"> <a title="im available for work - get in touch!" href="contact" class="bigredbutton" style=" background-color: #DA4F49; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 26px; line-height: 20px; margin: 0; padding: 14px 12px; text-align: center; width: 100%; font-weight: normal;">Available for work!</a></div>      
      </div>
    </div>

  
    <div class="row">
      <div class="twelve columns show-for-small">
      <a href="contact" class="bigred button" title="im available for work - get in touch!">Available for work!</a>
      </div>
      <div class="height10"></div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <!-- Thumbnails start -->
        <ul class="block-grid three-up showcase-items">
          <li>
            <div class="box"> <a href="premierfoodsafety" title="view the case study for Premier Food Safety"> {{ "premierfoodsafety_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Premier Food Safety<br>
                <span class="darktxt">Design, Build, Manage</span></p></a> </div>
          </li>
          <li>
            <div class="box"> <a href="smallpeeps" title="view the case study for Premier Food Safety"> {{ "smallpeeps_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Small Peeps<br><span class="darktxt">Design, Build</span></p>
              </a> </div>
          </li>
          <li>
            <div class="box"> <a href="apex" title="view the case study for Apex"> {{ "apexworkplace_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Apex Workplace Solutions<br><span class="darktxt">Design, Build, Consult</span></p>
              </a> </div>
          </li>
          <li>
            <div class="box"> <a href="pomsnotbombs" title="view the case study for Poms not Bombs"> {{ "pomsnotbombs_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Poms not Bombs<br><span class="darktxt">Design, Build, Feeder, Owner</span></p>
              </a> </div>
          </li>
          <li>
            <div class="box"> <a href="argos" title="view the case study for Argos-Spain"> {{ "argos_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Argos<br><span class="darktxt">Build</span></p>
              </a> </div>
          </li>
          <li>
            <div class="box"> <a href="nathanielcars"> {{ "nathaniels_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Nathaniel Cars<br><span class="darktxt">Design, Build </span></p>
              </a> </div>
          </li>
          <li>
            <div class="box"> <a href="mtcdirect"> {{ "mtcdirect_nail.jpg" | asset_url | image_tag }}
              <p class="plus">MTC Direct<br><span class="darktxt">Design, Build </span></p>
              </a> </div>
          </li>
          <li>
            <div class="box"> <a href="michaelandemmasayido"> {{ "michaelandemmasayido_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Mike And Emma Say I Do<br><span class="darktxt">Design, Build </span></p>
              </a> </div>
          </li>
          <li>
            <div class="box"> <a href="hotelsinleeds"> {{ "hotelsinleeds_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Hotels in Leeds<br><span class="darktxt">Build</span></p>
              </a> </div>
          </li>
          <li>
          <div class="box"> <a href="rotherhamtitans"> {{ "rotherhamtitans_nail.jpg" | asset_url | image_tag }}
            <p class="plus">Rotherham Titans<br><span class="darktxt">Design, Build</span></p>
            </a> </div>
          </li>
          <li>
            <div class="box"> <a href="intraining"> {{ "intraining_nail.jpg" | asset_url | image_tag }}
              <p class="plus">inTraining<br><span class="darktxt">Build</span></p>
              </a> </div>
          </li>
          <li>
            <div class="box"> <a href="daxon"> {{ "daxon_nail.jpg" | asset_url | image_tag }}
              <p class="plus">Daxon<br><span class="darktxt">Design, Build</span></p>
              </a> </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="height15"></div>
    <div class="row">
      <div class="twelve columns">
        <p class="smallpara">(A lot of the work I complete is unable to be shown here as it was for agencies / bonus material (for users who pay to use a service).<br>I know a lot of people write this, but it is actually true, <i>pinky promise</i>).</p>
      </div>
    </div>    

      <div class="height15"></div>
      <!-- End Thumbnails -->
  </div>
</section>

{% include "contactme" %} 
{% include "footer" %} 
{% endblock %}