
<!-- Rolling Thumbnails -->
<section>
  <div class="lightgraybgstyle contentholder60">
    <div class="row">
      <div class="twelve columns">
        <div class="flexslider carousel">
          <ul class="slides">
          <li>
            <div class="box"><a href="pomsnotbombs" title="view the case study for Poms not Bombs"><img src="{{ "pomsnotbombs_nail.jpg" | asset_url }}" alt="Poms not Bombs thumbnail" />
            <p class="plus">Poms not Bombs<br><span class="darktxt">Design, Build, Feeder, Owner</span></p></a></div>
          </li>
          <li>
            <div class="box"> <a href="argos" title="view the case study for Argos-Spain"><img src="{{ "argos_nail.jpg" | asset_url }}" alt="Argos-Spain thumbnail" />
            <p class="plus">Argos<br><span class="darktxt">Build</span></p></a></div>     
          </li>
          <li>
            <div class="box"> <a href="smallpeeps" title="view the case study for Small Peeps"><img src="{{ "smallpeeps_nail.jpg" | asset_url }}" alt="Small Peeps thumbnail" />
            <p class="plus">Small Peeps<br><span class="darktxt">Design, Build</span></p></a></div>
          </li>
          <li>
            <div class="box"> <a href="premierfoodsafety" title="view the case study for Premier Food Safety"><img src="{{ "premierfoodsafety_nail.jpg" | asset_url }}" alt="Premier Food Safety thumbnail" />
            <p class="plus">Premier Food Safety<br><span class="darktxt">Design, Build, Manage</span></p></a> </div>
          </li>            
          <li>
            <div class="box"> <a href="nathanielcars" title="view the project for Nathaniel Cars"> <img src="{{ "nathaniels_nail.jpg" | asset_url }}" alt="Nathaniel Cars thumbnail" />
            <p class="plus">Nathaniel Cars<br><span class="darktxt">Design, Build </span></p></a> </div>
          </li>
          <li>
            <div class="box"> <a href="mtcdirect" title="view the project for MTC Direct"> <img src="{{ "mtcdirect_nail.jpg" | asset_url }}" alt="MTC Direct thumbnail" />
            <p class="plus">MTC Direct<br><span class="darktxt">Design, Build </span></p></a> </div>
          </li>
          <li>
            <div class="box"> <a href="daxon" title="view the project for Daxon"> <img src="{{ "daxon_nail.jpg" | asset_url }}" alt="Daxon thumbnail" />
            <p class="plus">Daxon<br><span class="darktxt">Design, Build</span></p></a> </div>
          </li>
        </ul>
       </div>
      </div>
    </div>
  </div>
</section>
<!-- End Rolling Thumbnails -->
