<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Michael Cattell: Freelance User Interface Designer and Front-end Developer based in America and England</title>
  <meta name="description" content="User Interface / Interaction Designer & Front End Developer with 8 years experience designing and building websites and apps. Available for work on-site or remotely.">  
  {{ "foundation.css" | asset_url | stylesheet_tag }}
  {{ "app.css" | asset_url | stylesheet_tag }}
  {{ "animate.css" | asset_url | stylesheet_tag }}
  {{ "mymagic.css" | asset_url | stylesheet_tag }}
  {{ "component.css" | asset_url | stylesheet_tag }}
  {{ "normalize.css" | asset_url | stylesheet_tag }}
  {{ "humans.txt" | asset_url | stylesheet_tag }} 
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="{{ "custom.modernizr.js" | asset_url }}"></script>  
  <link rel="shortcut icon" href="assets/favicon.png">
</head>
<body>
  {% include "navigation" %}	
  {% block content %}{% endblock %}
  {% include "scripts" %}
</body>
</html>